body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    color: #075e54; /* WhatsApp green */
}

form {
    text-align: center;
}

button {
    background-color: #25d366; /* WhatsApp green */
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #128C7E; /* Darker green on hover */
}

.chat {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.chat p {
    margin: 0;
}

.msg {
    font-weight: bold;
    color: #075e54; /* WhatsApp green */
}

button {
    background-color: #25d366; /* WhatsApp green */
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #128C7E; /* Darker green on hover */
}

hr {
    border: 0.5px solid #ddd;
}
